* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
  
}
*, ::before, ::after {
  box-sizing: inherit;
}
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-light-blue: #bccbee;
  --main-gray: rgb(58, 58, 58);
  --main-dark-green: rgb(64, 124, 64);
  --main-dark-gray: rgb(63, 63, 75);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 1em;
  
}

.nav{
  justify-content: space-between;
  height: fit-content;
}
.nav-bar {
  height: 100%;
  display: flex;
  list-style: none;
  position: relative;
  background-color: var(--main-dark-green);
  
}


.menu {
  position: absolute;
  right: 0;
  display:inline-flex;
  flex-direction: row;
  align-items:center;
}

.menu li a { 
  font-size: 1.5rem;
  color:var(--main-white);
  text-align: center;
  transition: 0.15s ease-in-out;
  position:relative;
  text-transform: uppercase;


}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color:var(--main-white);
  transition: 0.15s ease-in-out;
}
.menu li a:hover::after {width: 100%;}
.open-menu , .close-menu {
  position: absolute;
  color:var(--main-light-blue);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

}
.close-menu {
  top: 20px;
  right: 20px;

}
#check {
  display: none;
}
@media(max-width: 1000px) {
  .menu {
      
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: var(--main-blue);
      transition: all 0.5s ease-in-out;
     
  }
  .menu li {margin-top: 10px;}
  .menu li a {padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;}
  .menu li a:hover {color: aqua;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {
      right: 0;
  }
}


h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}
.welcome-content h3{
  text-align: center;
}
h1 { 
  font-size: 4rem;
  font-weight: 700;
  color: var(--main-white);
}
h2 {
  font-size: 4.2rem;
}
@media (max-width: 800px){
  h2{
    font-size: 2.5rem;
  }
  #contact-links{
    font-size: 1.5rem;
  }
 
}

section{
  min-height:100vh;
  padding:10rem 9% 2rem;
}
.welcome-section {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url('all_image/Grey-Floorplan-Background-Town1.jpg') no-repeat;
  background-size: cover;
  

}

.welcome-content > p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
  font-weight: 100;
  
  color: var(--main-white);
}
.welcome-content h1 {
  font-size: 5.0rem;
  font-weight: 700;
  line-height: 1.0;
  padding: 1rem;
  color: var(--main-white);
}
.welcome-section > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.welcome-content{
  max-width: 70rem;
  
}
.welcome-section .text-animate {
  position: relative;
  
}
.welcome-section .text-animate h3 {
  font-size: 3rem;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-white);
  margin-top: 1rem;
}
.home-sci{
  position: absolute;
  bottom: 4rem;
  width: 280px;
  display: flex;
  justify-content:space-around;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent ;
  border: .2rem solid var(--main-gray);
  border-radius: 50%;
  font-size: 40px;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
}
.home-sci a:hover{
 color:var(--main-white);
}

.home-sci a::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: transparent;
  z-index: -1;
  overflow: hidden;
  transition: 1s;

}
.home-sci a:hover::before {
  width: 100%;
  background: var(--main-dark-green);
  
}
#my-journey{
  background-color: var(--main-gray);
  min-height: 150vh;
  text-align: center;

  
}
#my-journey img {
  width: 20%;
  border-radius: 50%;
  border: .2rem solid var(--main-red);
}
span{
  color: var(--main-light-blue);
}
.about-img{
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
}

.about-img .circle-spin {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 115%;
  border-radius: 50%;
  border-top: .2rem solid var(--main-gray);
  border-bottom: .2rem solid var(--main-gray);
  border-left: .2rem solid red;
  border-right: .2rem solid red;
}
.about-content h3{
  font-size: 2.6rem;
}
.about-content p{
  font-size: 2.0rem;
  margin:2rem 0 3rem;
  text-align: justify;
}
.education {
  background: var(--main-dark-gray);
}

.other_certificates-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-dark-gray);
  margin:0;
  padding: 0;
  min-height:1500px;
  box-sizing: border-box;
}

.certificates-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-dark-gray);
  margin:0;
  padding: 0;
  min-height:1000px;
  box-sizing: border-box;

}
.certificates-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}


.thumbnail {
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
  height: calc(100% - 9.8rem);
  
}

.thumbnail:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 60px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 50px;
}


.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-dark-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  padding: 10rem 2rem; 
}
.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.projects-grid a:hover {
  background-color: var(--main-dark-green);
  transition: background 0.3s ease-out;
}

.projects-section > h2 {
  font-size:3.2rem;
  color:var(--main-white);
}
.project-image{
  height: calc(100% - 9.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title{
  color:var(--main-white);
  width: 100%;
  background-color: #303841;
  padding: 1em 0;
  margin: 0;
  margin: auto;
  font-size: 2rem;
  border-radius: 10%;
}


.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}
.btn-show-all > i {
  margin-left: 10px;
  font-size: 2rem;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 5rem;
  
}
.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  width: 18rem;
  height: 100%;
  background-color: var(--main-dark-green);
  border-radius: 20%;
  border: .2rem solid var(--main-dark-green);
  font-weight:600;
  font-size: 2rem;
  letter-spacing: .1rem;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .btn:hover{
  background: var(--main-gray);
}
.btn-box .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-gray);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:nth-child(2){
  background: transparent;
}
.btn-box .btn:nth-child(2):hover {
  
}
.btn-box .btn:nth-child(2)::before{
  background: var(--main-dark-green);
 
}
.btn-box .btn:hover::before{
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--main-white);
  font-size: 1.5em;
  padding: 1rem 1.5rem;
}
a:hover,
a.active {
 color: aqua;
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}
.fa, .fas {
  font-weight: 900;
}

.education {
  flex-direction: column;
  min-height: auto;
  padding-bottom: 50rem;
  display: inline-block;
}
.heading {
  justify-content: center;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: center;
}
.education .education-row {
  display: flex;
  flex-wrap:wrap;
  gap: 10rem;
  float: left;
  width: 50%;
  
}
@media screen and (max-width: 600px) {
  .education .education-row {
    font-size: 14px; /* Adjust the value for smaller screens */
  }
}
.education-row .education-column{
  flex:1 1 40rem;
}

.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
  
}
.education-column .education-box {
  border-left: 0.2rem solid var(--main-light-blue);

 
}




.education .work-experience-row {
  display: flex;
  flex-wrap:wrap;
  gap: 10rem;
  float: right;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .education .work-experience-row {
    font-size: 15px; /* Adjust the value for smaller screens */
  }
}

.education h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 2rem;
}
.education p {
  text-align: justify;
  margin: 10px;
  font-size: 1.6rem;
  padding-top: 0.5rem;
}
.education-box .education-content {
  position: relative;
  padding-left: 2rem;
  
}
.education-box .education-content::before {
  content: '';
  position: absolute;
  left: -1.1rem;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: var(--main-light-blue);
  border-radius: 50%;
  
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-light-blue);
  border-radius: .6rem;
  margin: 0 2rem 2rem 0;
  overflow: hidden;
  z-index: 2;
}
.education-content .content::before {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  
  z-index: -1;
  transition: 0.5s;
}
.education-content .content:hover::before {
  background-color:var(--main-blue);
  width: 100%;
  
}
.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-light-blue);
  padding-bottom: 0.5rem;

}
.education-content .content .year i {
  padding-right: 0.5rem;
}

.skills{
  min-height: auto;
  background: var(--main-gray);
  padding-bottom: 7rem;

}

.skills .skills-row {
   display: flex;
   flex-wrap: wrap;
   gap: 5rem;
}

.skills-row .skills-column {
   flex: 1 1 40rem;

}
.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-light-blue);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
    
}
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-dark-gray);
    z-index: -1;
    transition: 0.5s;
}
.skills-box .skills-content:hover::before {
   width: 100%;
}

.skills-content .progress {             
    padding: 1rem 0;
}

.skills-content .progress {
    padding: 1rem 0;
}
.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: var(--main-light-blue);

}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-blue);
    padding: 0.5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span {
    display:block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--main-light-blue);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 20%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span {
  width: 20%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span {
  width: 20%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(8) .bar span {
  width: 20%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 98%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 20%;
}
#contact {
  background-color: #303841;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact > h2 {
 color: var(--main-white);
 font-size: 5rem;

}
.contact-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 100%;
 height: 80vh;
 padding: 0 2rem;
 background: var(--main-gray);
}
.contact-links a{
 position: relative;
 justify-content: center;
 z-index: 1;
 overflow: hidden;


}

.contact-section form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  
}
.contact-section form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-section form .input-box .input-field {
  position:relative;
  width: 49%;
  margin: 0.8rem 0;
}
.contact-section form .input-box .input-field input,
.contact-section form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--main-light-blue);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-light-blue);
}
.contact-section form .input-box .input-field input::placeholder,
.contact-section form .textarea-field textarea::placeholder {
   color:var(--main-light-blue);
}
.contact-section .input-box .focus {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: red;
   border-radius: 0.6rem;
   z-index: -1;
   
}
.contact-section form .textarea-field {
  position:relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}
.contact-section form .textarea-field textarea {
  resize: none;
}
.contact-section form .btn-box.btns .btn {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 115%;
  transform: translate(-110%, -100%);
}
@media screen and (max-width: 600px) {
  .contact-section form .btn-box.btns .btn {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-60%, -100%);}
}



.contact-links a::before{
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 background: var(--main-blue);
 z-index: -1;
 transition: .5s;
 border-radius: 20%;
}
.contact-links a:hover::before{
 width: 100%;
}

.contact-links {
 display: flex;
 justify-content: center;
 width: 100%;
 max-width: 1000px;
 margin-top: 4rem;
 flex-wrap: wrap;
}
#contact > p{
 color: var(--main-white);
 font-style: italic;
 font-weight: 100;
 text-align:center;
 font-size: 1.7rem;
}
footer {
 font-weight: 300;
 display: flex;
 justify-content: space-evenly;
 padding: 2rem;
 background: var(--main-gray);
 border-top: 4px solid var(--main-red);
 margin: 2rem;
}